

.nav__button, .nav__container{
  background-color: var(--navigation-color);

  width: 100%;
}





.nav__bar{
  width: 100vw;
  height: 8vh;

  position: fixed;
  bottom: 0;

  z-index: 100;

}

.nav__container{
  
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 8vh;

  padding: 0%;
  margin: 0;

  

  

  


}



.nav__button{
  height: 10vh;
  
  border: 1.2px solid var(--dark-color);


}

.nav__button p, .nav__button {
  cursor: pointer;
  transition: all 0.5s ease;
}

.nav__button a{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__button:hover, .nav__button:focus{
  box-shadow: 
    inset 40em 0 0 0 var(--secondary-color);   
}



.nav__icon{
  width: 2rem;
  height: 2rem;
}

.nav__text{
  display: none;
}

@media (min-width: 800px) {

  .nav__bar{
    top: 0;
  }
  

  .nav__icon{
    display: none;
  }

  .nav__text{
    display: block;

    font-style: italic;
    color: var(--dark-color);

  }

  .nav__button:hover p, .nav__button:focus p{
    text-decoration: underline;
     
    
    
  }

}
