
:root{
  /* Palette */
  --first-color: #1B458B;
  --secondary-color: #F58D6B;
  --navigation-color: #F4C5C8;
  --dark-color: #201f1d;
  --light-color: #DCDCDC;

  background-color: var(--light-color);

  overflow-x: hidden;

}

*, *::after, *::before{
  font-family: 'Argentum Sans';
}

/* Fonts */

.link, a{
  text-decoration: none;
}

ul, li{
  list-style: none;
}

@font-face {
  font-family: 'Argentum Sans';
  src: url('./assets/fonts/argentum-sans.medium.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
  
}


@font-face {
  font-family: 'Argentum Sans';
  src: url('./assets/fonts/argentum-sans.bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face{
  font-family: 'Argentum Sans';
  src: url('./assets/fonts/argentum-sans.light.ttf') format('truetype');
  font-weight: lighter;
  font-display: swap;
}

::-webkit-scrollbar{
  width: 1em;
  
}

::-webkit-scrollbar{
  background-color:var(--dark-color);
}

::-webkit-scrollbar-thumb{
  background-color: #F4C5C8c9;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #F4C5C8e7;
  border-radius: 50px;
}